.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1152px;
    margin: auto;
}

.nav-title{
    color: black;
    margin-left: 1.25rem;  /* px: 고정값, rem: 반응값 (1rem == 16px) */
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.nav-ul{
    display: flex;
    padding: 0 10px;
    font-weight: bolder;
    align-items: center;
}

.nav-li{
    padding: 0 10px;
    cursor: pointer;
    color: lightslategray;
}

/* 제목 크기를 반응형으로 */
@media (min-width:640px){
    .nav-title{
        font-size: 1.5rem;
    }
}

@media (min-width:768px){
    .nav-title{
        font-size: 1.875rem;
    }
}